@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .bg-gradient-blue-purple {
    @apply bg-gradient-to-r from-[#0070f3] to-[#7928ca];
  }
  
  .text-gradient-blue-purple {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#0070f3] to-[#7928ca];
  }
}